body {
    background-image: url(../images/chinese-moviac.jpg);
    background-size: cover;
    color: white;
    padding: 10px;
    
}

.jumbotron
{
   background-color: rgba(0,0,0,0);
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px;
}

form
{
    background-color: rgba(0,0,0,0);
    font-family: 'Nunito Sans', sans-serif;
}

#navColor{
    background-color: rgba(0,0,0,0)!important;
}

#add-movie{
    margin: 15px;
}

img {
    margin: 15px;
}

.containerFeatures {
    background-color: grey;
}
