/*index and general content from all pages*/

html { 
    background: url(../images/chinese-moviac.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 10px;
    font-family: 'Chelsea Market', cursive;
    
}

.jumbotron
{
   background-color: rgba(0,0,0,0);
   font-family: 'Chelsea Market', cursive;
    padding: 10px;
}

form
{
    background-color: rgba(0,0,0,0);
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
}

#navColor{
    background-color: rgba(0,0,0,0)!important;
}

#add-movie{
    margin: 15px;
}

img {
    margin: 15px;
}

.containerFeatures {
    background-color: grey;
}

#movieSpacing {
    text-align: center;
}

/*Pricing*/

#pricingContainer {
    text-align: center;
}

#dogPricing {
    float: left;
    margin: 15px;
    background-size: cover;
    color: black!important;
}

#horsePricing {
    float: left;
    margin: 15px;
    background-size: cover;
    color: black!important;
}

#dragonPricing {
    float: left;
    margin: 15px;
    background-size: cover;
    color: black!important;
}

/*Facts*/
#factsContainer {
    padding-left: 50px;
    padding-right: 50px;

}

