body {
    background-color: black;
}

.jumbotron
{
    background-color: black;
    color: white;
}

#navColor{
    background-color:black!important;
}

.align-items-center {
    align-items: center !important;
}

#resetButton {
    bottom: 5px;
    right: 5px;
}

.carousel-inner {
    width: 50%;
}
#add-movie{
    margin: 15px;
}

img {
    margin: 15px;
}